<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body>
        <div class="global-wrapper">
            <header class="global-header">
                <h1>Only God Forgives</h1>
                <p>Make your confession to 01474 771 666 and be free of sin.</p>
            </header>
            <ul class="naked-list confession__list">
            <% recordings.forEach( function(recording) { %>
                <li>
                    <% include partials/confession %>
                </li>
            <% }); %>
            </ul>
        </div>
    </body>
</html>
